.clearfix {
    overflow: auto;
}
#navigator, #footer{
    width: 99%;
    color: #4800ff;
    text-align: center;
    padding: 1px;
}
#navigator {
    /*border-bottom: 1px solid lightgray;*/
    font-family: SimSun-ExtB;
    font-size: 15px;
}

#footer {
    border-top:  1px solid lightgray;
}
/*Menu in navigator bar*/


#content {
    width: 900px;
    margin:  auto;
}



