#content #galary {
    width:  600px;
    float: left;
}

/*image gallary*/
div.img {
    margin: 4px;
    border: 1px solid #ccc;
    float: left;
    width: 290px;
}

div.img:hover {
    border: 1px solid #777;
}

/*Make the image fill up the space horizontally and scale proportionally in vertical direction*/
div.img img {
    width: 100%;
    height: auto;
}
/*image gallary*/

/*details*/
#content #details {
    margin-left:  600px;
}

.detail_title {
    font-size: 12px;
    border-bottom:   thin solid #888;
    margin-top:  10px;
    margin-bottom:  10px;
    margin-right: 50%;
    color: #777;
}

.detail_description {
    font-size: 14px;
    margin-bottom:  20px;
}
