#thumbnail_list {
    width: 750px;
    margin:  auto;
}
#thumbnail {
    border: 2px solid red;
    margin: 15px;
    float: left;
    width:  220px;
    height: 500px;
}
#thumbnail_image {
    border: 1px solid #ccc;
    width: 100%;
    height: 70%;
    line-height: 70%;
}
#thumbnail_image:hover {
    border: 1px solid #777;
}
#thumbnail_image img {
    width: 100%;
    vertical-align: middle;
}
#thumbnail_description {
    position: relative;
    bottom: 0px;
    width: 100%;
}

#thumbnail_name {
    float: left;
}
#thumbnail_brand {
    float: left;
    clear: left;
}
#thumbnail_price {
    float: right;
}

