<div id="navigator">
    <ul>
        <li><a class="active" href="#home">主页</a></li>
        <li><a href="#news">男装</a></li>
        <li><a href="#contact">女装</a></li>
        <li><a href="#about">优惠</a></li>
    </ul>
</div> 
