<div id="header1" style="text-align: center;">
    <p>亲亲我的宝贝</p>
</div>
<div id="navigator">
    <ul>
      <li><a class="active" href="#home">主页</a></li>
      <li><a href="#news">优惠</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">男宝</a>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">女宝</a>
        <div class="dropdown-content">
          <a href="#">Link 4</a>
          <a href="#">Link 5</a>
          <a href="#">Link 6</a>
        </div>
      </li>
      <li id="filters">
          <form>
              <div class="filter">年龄:<input type="text" name="age"></div>
              <div class="filter"><input type="radio" name="sex" value="boy" checked>男</div>
              <div class="filter"><input type="radio" name="sex" value="girl">女</div>
              <div class="filter">类别:<input type="text" name="type"></div>
              <div class="filter">关键字:<input type="text" name="keyword"></div>
              <div class="filter"><input type="submit" value="Submit"></div>
          </form>
      <li>
    </ul>
</div> 