
<!DOCTYPE html>
<html lang="cn">
    <head>
        <meta charset="utf-8" />
        <title>网罗名牌 时尚生活</title>
        <link rel="stylesheet" type="text/css" href="css\Layout.css">
        <link rel="stylesheet" type="text/css" href="css\Menus.css">
        <link rel="stylesheet" type="text/css" href="css\Filters.css">
        <link rel="stylesheet" type="text/css" href="css\product_list.css">
    </head>
    <body>
        @RenderPage("navigator.cshtml")
        <div id="content" class="clearfix">
            @RenderPage("product_query_list.cshtml")
        </div>
        <div id="footer">
            <h1>EDS microanalysis.</h1>
        </div>
    </body>
</html>

